.header-container{
    display: flex;
    background-color: black;
}

ul {
    color: #F6F6F6;
}

ul:hover{
    background-color: gray;
    cursor: pointer;
}

li {
    list-style: none;
    padding: 10px
}
